<!DOCTYPE html>

<html>
<head>
<LINK href="style/style.css" rel="stylesheet" type="text/css">
<title>sudokudlx!</title>
</head>

<body>
<h1>sudokudlx!</h1>
<p><small>(by Alex Rudnick;
<a href="http://code.google.com/p/narorumo/source/browse/trunk/sudokusolver">source</a>)
</small></p>

{% if board %}
  <table class="sudokuboard">
  {% for row in board %}
    <tr>
    {% for cell in row %}
      <td class='cell'>{{ cell }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
{% else %}
  <div class="fail">
    &empty;!
  </div>
  <p class="msg">Hrm, that one doesn't seem to have a solution.</p>

{% endif %}

  <p><a href="/">Again!</a></p>

</body>
</html>

