<!doctype html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/> 
  <title>distancetotalr</title>
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono'
    rel='stylesheet' type='text/css'>
</head>
<body>
  <h1><a href="/">distancetotalr: how far did you go on fitocracy?</a></h1>
  <div class="output">
  You have gone this many {{distancetype}} on Fitocracy:
  {{output|escape|linebreaks}}
  </div>
</body>
</html>
