<!doctype html> 
 
<html> 
<head> 
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/> 
  <title>snippets</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono'
        rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="topbar">
<a href="viewsnippets.cgi">(my snippets)</a>
<a href="recent.cgi">(recent snippets)</a>
<a href="subscriptions.cgi">(edit subscriptions)</a>
<a href="viewallsnippets.cgi">(all snippets)</a>
<a href="viewusers.cgi">(all users)</a>

  Hello $LOGGEDIN.

  </div>

  <h1><a href="index.cgi">snippets</a></h1>
