<!DOCTYPE html>

<html>
<head>
<LINK href="style/style.css" rel="stylesheet" type="text/css">
<title>sudokudlx!</title>
</head>

<body>
<h1>sudokudlx!</h1>
<p><small>(by Alex Rudnick;
<a href="http://code.google.com/p/narorumo/source/browse/trunk/sudokusolver">source</a>)
</small></p>

  <form method="post">
    <input name="posted" type="hidden" value="foo"/>
      <table class="sudokuboard" id="InputTable">
        {% for row in rows %}
          <tr>
          {% for col in cols %}
          <td>
            <input class='cell' type='text' size='1' name='cell{{row}}_{{col}}' />
          </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>

    <input type="submit" value="solve!!"/>
    <input type="reset" value="clear!!"/>
  </form>

  <div class="whatisthis">
  <p>
  <strong>What is this?</strong><br/>
  sudokudlx solves sudoku puzzles using Donald Knuth's Dancing Links algorithm.
  Enter any sudoku puzzle in the boxes above and hit "solve".
  <a href="http://code.google.com/docreader/#p=narorumo&t=SudokuDLX">
    Here's how it works.
  </a>
  </p>
  </div>


</body>
</html>
