<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<LINK href="style/style.css" rel="stylesheet" type="text/css">
<title>the app hosting engine sudoku solver</title>
</head>

<body>
<h1>python sudoku solver!</h1>
<p><small>(by alexr, early 2008)
</small></p>

  <form method="post">
    <input name="posted" type="hidden" value="foo"/>
      <table id="InputTable">
        {% for row in rows %}
          <tr>
          {% for col in cols %}
          <td>
            <input type='text' size='1' name='cell{{row}}_{{col}}' />
          </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>

    <input type="submit" value="solve!!"/>
    <input type="reset" value="clear!!"/>
  </form>

</body>
</html>
