<!DOCTYPE html>

<html>
<head>
<LINK href="style/style.css" rel="stylesheet" type="text/css">
<title>sudokudlx!</title>
</head>

<body>
<h1>sudokudlx!</h1>
<p><small>(by Alex Rudnick)
</small></p>

  <form method="post">
    <input name="posted" type="hidden" value="foo"/>
      <table class="sudokuboard" id="InputTable">
        {% for row in rows %}
          <tr>
          {% for col in cols %}
          <td>
            <input class='cell' type='text' size='1' name='cell{{row}}_{{col}}' />
          </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>

    <input type="submit" value="solve!!"/>
    <input type="reset" value="clear!!"/>
  </form>

</body>
</html>
