
<div id="footer">
<a href="viewsnippets.cgi">(view my snippets)</a>
<a href="subscriptions.cgi">(edit my subscriptions)</a>
<a href="viewallsnippets.cgi">(view all snippets)</a>
<a href="http://code.google.com/p/narorumo/source/browse/#svn/trunk/snippets">
(code for snippet system)
</a>
</div>

</body>
</html>
